*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    height:100vh;
    display: flex;
    flex-direction:column;
    gap: 20px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 20px;
    padding: 30px;
    background: rgb(228, 224, 224);
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey ;
}
.display{
    display: flex;
    gap: 40px;
}
.display >p{
    font-size: 2rem;
}
button{
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px grey;
}
button:active{
    transform:translateY(2px);
}
.buttons{
    display: flex;
    gap: 20px;
}

@media screen and (max-width:768px) {
    .container{
        width: 50%;
    }
}
@media screen and (max-width:500px) {
    .container{
        width: 80%;
    }
}